# Ignora le dipendenze di Node, verranno installate nel container
node_modules

# Ignora i file di log e di ambiente locale
npm-debug.log
.env

# Ignora i file di configurazione che vengono montati come volumi
server-config.js

# Ignora la cache e i file di controllo versione
cache
.git
.gitignore
